.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid green;
    padding: 20px;
    border-radius: 4px;
    min-width: 300px;
}

.input {
    margin-bottom: 10px;
    width: 100%;
}